.App {  
  height: 100vh;
  font-size: 16px;
}
 
.intro { 
  margin-bottom: 30px;
}

.bar { 
  height: 50px; 
  border: solid;
  border-width: 1px;
  border-color: black;
}

.name { 
  font-family: 'Bitter', serif;
  margin-left: 25px;
  text-align: center;
  /* or Bitter font */  
}

.homeContainer {
  text-align: center;
  padding: 5px 30px 35px 30px;
  font-size: 16px;
  font-family: 'Inconsolata', sans-serif;
}

.linkTo {
  color: black;
  text-align: center;
  display: block;
  font-family: 'Inconsolata', sans-serif;
  text-decoration: underline; 
  padding: 0px 6px 10px 6px;
}
.linkto:hover {
  color: orange;
}

.linked {  
  padding: 0;
  margin-top: 0;
  font-weight: bold; 
  margin-left: 11px;
  margin-bottom: 25px;
  font-size: 16px;
  font-family: 'Inconsolata', sans-serif;

}

.self { 
  display: inline-block;
  right: 0px;
  height: 120px;
}

/*************** WORK + PROJECT ******************/
 

.shadow {
  box-shadow: -2px 0 rgba(0,0,0,.2); 
  margin-left: 5.5vw;
}

.workContainer, .projectContainer {
  text-align: center;
  padding: 35px 0px 35px 0px;
}

div.work {  
  padding-bottom: 20px; 
  display: inline-block;  
  margin-bottom: 10px;
}

div .workGrid.container {
}

.workBody {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  overflow: visible;   
  width: 70vw;
  margin-left: 10px;
  color: black;
}

.timeline {
  position: absolute;
  height: 22px;
  width: 22px;
  background-color: black;
  border: solid;
  border-color: white;
  border-width:  9px;
  border-radius: 100%; 
  vertical-align: top; 
  margin-left: 5.3vw;
  text-decoration: none;
}
 
.resume { 
  color: orange; 
  font-size: 20px;
  font-family: 'Inconsolata', sans-serif;
  border: solid;
  border-width: 1.9px;
  border-color: orange;
  padding: 4px 6px 4px 6px;
  border-radius: 3px; 
}

.skill {   
  color: #656565;
  font-family: 'Inconsolata', sans-serif;
  border: solid;
  border-width: thin;
  padding: 2px 6px 2px 6px;
  border-radius: 3px; 
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 10px;
  display: inline-block;
}

.quarter {
  display: inline-block; 
  text-align: right;
  padding-right: 5px;
  vertical-align: top; 
  color: orange; 
}

.company {
  display: inline-block; 
  font-weight: bold;   
}

.position { 
  display: block;
  font-style: italic;
  overflow: visible;  
}

.description {
  display: block; 
  overflow: visible;
  margin-bottom: 15px;  
}

p.time { 
  padding: 0px 0px 0px 0px;
  width: 60px; 
}

div .show-grid.col-lg-4.col-md-4.col-sm-4.col-xs-12, div .show-grid.col-lg-8.col-md-8.col-sm-8.col-xs-12 {
  margin-bottom: 20px;
} 


/*********** CONTACT ************/

.contactContainer {
  text-align: center;
  padding: 35px 0px 35px 0px;
}

.contactLink {
  padding: 30px 0px 30px 0px;
  height: 50px;
  display: block;
}

.icon { 
  display: inline-block;
  vertical-align: center;
  color: black;
}

.iconName {
  margin-left: 20px;
  padding-bottom: 10px;
  display: inline-block;
  color: black;
  text-decoration: underline;
  font-size: 18px;
}


/*********** ELEMENT TYPES *************/

p {
  font-family: 'Inconsolata', sans-serif; 
  margin-left: 0px;
}

h2 {
  font-family: 'Inconsolata', sans-serif;
}
   