.App {  
  height: 100vh;
  font-size: 90%;
}

.heading {
  background-color: white;
  background: white;
  padding-top: 20px;
  z-index: 10000;
  position: fixed;
  width: 100%;
} 

.intro { 
  margin-bottom: 30px;
}

.bar { 
  height: 50px; 
  border: solid;
  border-width: 1px;
  border-color: black;
}

.toolbar { 
  text-align: center;
  background-color: white;
  z-index: 100000;
  padding-top: 20px;
}

.toolbar-separator {
  border-color: darkgray;
  width: 70%;
  margin-bottom: 0;
}

.name { 
  font-family: 'Bitter', serif;
  text-align: center;
  padding-top: 2%;
  color: black;
  padding-bottom: 3%;
  text-decoration: none;
  /* or Bitter font */  
}

.homeContainer {
  padding: 8% 30px 35px 30px; 
  font-family: 'Inconsolata', sans-serif;
}

.greeting {
  font-size: 20px;
}

.headshot {
  height: 10%;
}

.headshotImg {
  margin-bottom: 10%;
}

.headshotContainer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkTo {
  color: black;
  text-align: center;
  display: block;
  font-family: 'Inconsolata', sans-serif;
  font-size: 16px;
  text-decoration: underline; 
  padding: 0px 12px 10px 12px;
  display: inline-block;
}
.linkto:hover {
  color: orange;
}

.linked {  
  padding: 0;
  margin-top: 0;
  font-weight: bold; 
  margin-left: 11px;
  margin-bottom: 25px;
  font-size: 16px;
  font-family: 'Inconsolata', sans-serif;

}

.self { 
  display: inline-block;
  right: 0px;
  height: 120px;
}

/*************** WORK + PROJECT ******************/
 

.shadow {
  box-shadow: -2px 0 rgba(0,0,0,.2); 
  margin-left: 5.5vw;
}

.workContainer, .projectContainer {
  padding: 35px 0px 35px 0px;
}

.workInfo {
  text-align: right;
  vertical-align: top;
  color: black;
}

div.work {  
  padding-bottom: 20px; 
  margin-bottom: 10px;
}

.companyImage {
  width: 10vw;
}

.workCol {
  padding-bottom: 20px;
}

.workBody {
  display: inline-block;
  text-align: left;
  overflow: visible;   
  color: black;
}

.resume { 
  color: orange; 
  font-size: 18px;
  font-family: 'Inconsolata', sans-serif;
  border: solid;
  border-width: 1.9px;
  border-color: orange;
  padding: 4px 6px 4px 6px;
  border-radius: 3px; 
}

.skill {   
  color: #656565;
  font-family: 'Inconsolata', sans-serif;
  border: solid;
  border-width: thin;
  padding: 2px 6px 2px 6px;
  border-radius: 3px; 
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 10px;
  display: inline-block;
}

.quarter {
  vertical-align: top; 
  color: orange; 
}

.company {
  display: inline-block; 
  font-weight: bold;   
}

.companyLink {
  display: inline-block; 
  font-weight: bold;  
  color: black;
  text-decoration: underline;
}

.position { 
  display: block;
  font-style: italic;
  overflow: visible;  
}

.description {
  display: block; 
  overflow: visible;
  margin-bottom: 15px;  
}

p.time { 
  padding: 0px 0px 0px 0px;
  width: 60px; 
}

div .show-grid.col-lg-4.col-md-4.col-sm-4.col-xs-12, div .show-grid.col-lg-8.col-md-8.col-sm-8.col-xs-12 {
  margin-bottom: 20px;
} 


/*********** CONTACT ************/

.contactContainer {
  text-align: center;
  padding: 35px 0px 35px 0px;
}

.contactLink {
  padding: 30px 0px 30px 0px;
  height: 50px;
  display: block;
}

.icon { 
  display: inline-block;
  vertical-align: center;
  color: black;
}

.iconName {
  margin-left: 20px;
  padding-bottom: 10px;
  display: inline-block;
  color: black;
  text-decoration: underline;
}

/*******/

.page-separator {
  margin-top: 50px;
  margin-bottom: 50px;
  width:70%;
  border-color: darkgray;
}

.page-title {
  text-align: center;
  margin-bottom: 80px;
  text-decoration: underline;
  font-size: 180%;
}

/*********** ELEMENT TYPES *************/

p {
  font-family: 'Inconsolata', sans-serif; 
  margin-left: 0px;
}

h2 {
  font-family: 'Inconsolata', sans-serif;
}
   
a, a:active {
  text-decoration: none;
  color: black;
}